{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />

    
{% endblock %}

{% block content %}
    <div id="app-visualizer">
        <!-- Navbar -->
        <b-navbar type="dark" variant="secondary">
            <b-navbar-brand tag="h1">Decide</b-navbar-brand>
        </b-navbar>

        <div class="voting container">
            <h1>[[ voting.id ]] - [[ voting.name ]]</h1>

            <h2 v-if="!voting.start_date">Votación no comenzada</h2>
            <h2 v-else-if="!voting.end_date">Votación en curso</h2>
            <div v-else>
                <h2 class="heading">Resultados:</h2>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Opción</th>
                            <th>Puntuación</th>
                            <th>Votos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="opt in voting.postproc" :key="opt.number">
                            <th>[[opt.option]]</th>
                            <td>[[opt.postproc]]</td>
                            <td class="text-muted">[[opt.votes]]</td>
                        </tr>
                    </tbody>
                </table>
                
                    <div class="row">
                        <div class="col-md-6">
                            <canvas id="barChart"></canvas>
                        </div>
                        <div class="col-md-6">
                            <canvas id="pieChart"></canvas>
                        </div>
                    </div>
                

            </div>

        </div>
    </div>
{% endblock %}


{% block extrabody %}
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue@2.7.10"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.0.1/chart.min.js" integrity="sha512-tQYZBKe34uzoeOjY9jr3MX7R/mo7n25vnqbnrkskGr4D6YOoPYSpyafUAzQVjV6xAozAqUFIEFsCO4z8mnVBXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

            <script>
                var voting = {{ voting| safe}};
                var opV = {{optVotes| safe}};
                var num = {{ numVotes| safe}};
                console.log(opV);
                var app = new Vue({
                    delimiters: ['[[', ']]'],
                    el: '#app-visualizer',
                    data: {
                        voting: voting
                    }
                })

                const ctx = document.getElementById('barChart');

                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: opV,
                        datasets: [{
                            label: '# of Votes',
                            data: num,
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });

                const pieGraph = document.getElementById('pieChart');

                new Chart(pieGraph, {
                        type: 'pie',// Tipo de gráfica. Puede ser dougnhut o pie
                        data: {
                            labels: opV,
                            datasets: [{
                                data: num
                                // Aquí más datos...
                        }]
                        },
                    });


            </script>
</body>
{% endblock %}
